body {
	overflow: hidden;
	color: #000;
}

.canvas {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	cursor: crosshair;
}
#canvas-container {
	height: 90vh;
	display: block;
}
#canvas-draft {
	background-color: transparent;
}
#canvas-grid {
	display: none;
	background-color: transparent;
}
/* description */
.descriptionRow {
	padding-bottom: 0;
	margin-top: 1vh;
	font-size: 0.8em;
}
#description1 {
	height: 2em;
	font-family: "Kumbh Sans";
	color: #000;
}
#description2 {
	height: 2em;
	font-family: "Kumbh Sans";
	color: #000;
}
#description3 {
	height: 2em;
	font-family: "Kumbh Sans";
	color: #000;
}

/* buttons */
span {
	color: #000;
	cursor: pointer;
}
.buttonsRow {
	padding-bottom: 0;
	margin-top: 0.5vh;
}

.button {
	color: #fff;
	background-color: #000;
	padding: 0.5vh;
	border: 1px solid #000;
	border-radius: 5px;
}

/* outline dropper */
#dropperOutline {
	background-color: #fff;
	color: #000;
}
/* group icons together (change padding-right) */
#geo {
	margin-right: 20px;
}
#curveQuadratic {
	padding-top: 0.15vh;
	padding-bottom: 0.6vh;
	position: relative;
	bottom: 2px;
}
#curveBezier {
	margin-right: 20px;
}
#drawPolygon {
	margin-right: 20px;
}
#redo {
	margin-right: 20px;
}
#zoomOut {
	margin-right: 20px;
}
#save {
	margin-right: 20px;
}

/* coordinates */
.coordText {
	margin-left: 20px;
	padding-bottom: 10px;
	cursor: auto;
}
.coord {
	color: #919191;
	padding: 0 20px;
	margin-left: 3px;
	padding-bottom: 10px;
	cursor: auto;
}

/* credits popup */
#creditsPopup {
	display: none;
	position: absolute;
	padding: 2%;
	top: -135px;
	width: 230px;
	border: 1px solid #c5ccb7;
	border-radius: 10px;
	z-index: 5;
	background-color: #fff;
	font-size: 0.7em;
	animation: bounceIn 1.5s ease forwards;
}
@keyframes bounceIn {
	0% {
		transform: translateX(0px);
		opacity: 0;
	}
	100% {
		transform: translateX(100px);
		opacity: 1;
	}
}
#closeBtn2 {
	text-align: right;
}
a {
	color: #535353;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}

/* picker container */
#pickr-container-outline {
	display: inline-block;
	height: 25px !important ;
	width: 25px;
	overflow: hidden;
	border-radius: 5px;
}
#pickr-container {
	display: inline-block;
	height: 25px !important ;
	width: 25px;
	overflow: hidden;
	border-radius: 5px;
}

/*//////////////////////////  fixed polygon //////////////////////////*/
#polygonPopup {
	display: none;
	position: absolute;
	padding: 2%;
	top: -180px;
	left: 130px;
	width: 230px;
	border: 1px solid #c5ccb7;
	border-radius: 10px;
	z-index: 5;
	background-color: #fff;
	font-size: 0.7em;
	animation: bounceIn2 1.5s ease forwards;
	text-align: center;
}
@keyframes bounceIn2 {
	0% {
		transform: translateX(0px);
		opacity: 0;
	}
	100% {
		transform: translateX(100px);
		opacity: 1;
	}
}
#polygonInput {
	display: none;
}
#closeBtn1 {
	text-align: right;
}
/* ploygon slider */
#polygonInput {
	width: 100%; /* Width of the outside container */
}
/* The slider itself */
.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 15px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
	text-align: center;
}
/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 15px; /* Slider handle height */
	background: #535353; /* Green background */
	cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 15px; /* Slider handle height */
	background: #535353; /* Green background */
	cursor: pointer; /* Cursor on hover */
}
.btn {
	font-size: 1em;
	border: 1px solid #535353;
}

/* //////////////////////////// thickness ///////////////////////////// */
#thicknessInput {
	display: inline-block;
	margin-left: 10px;
	width: 10vw;
	text-align: center;
}
